<configuration scan="true" scanPeriod="5 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} | %-5level | %logger{36} | %msg%n</pattern>
        </encoder>
    </appender>
    
	<appender name="SICKSTORE-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/sickstore.log</file>
		<encoder>
			<pattern>%date{ISO8601} | %-5level | %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/sickstore-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="MEASUREMENTS-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%date{ISO8601};%msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/sickstore-measurements-%d{yyyyMMdd}_%d{HHmmss,aux}.log
			</fileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy class="de.unihamburg.sickstore.logging.StartupTimeBasedTriggeringPolicy" />
		</rollingPolicy>
	</appender>
	
	<appender name="METRICS-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%date{ISO8601};%msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/metrics-%d{yyyyMMdd}_%d{HHmmss,aux}.log
			</fileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy class="de.unihamburg.sickstore.logging.StartupTimeBasedTriggeringPolicy" />
		</rollingPolicy>
	</appender>

	<logger name="measurements" level="info" additivity="false">
		<appender-ref ref="MEASUREMENTS-FILE" />
	</logger>

	<logger name="metrics" level="info" additivity="false">
		<appender-ref ref="METRICS-FILE" />
	</logger>

	<logger name="sickstore" level="debug" additivity="false">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="SICKSTORE-FILE" />
	</logger>

	<root level="debug">
		<appender-ref ref="SICKSTORE-FILE"/>
	</root>
</configuration>