<configuration scan="true" scanPeriod="5 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} | %-5level | %msg%n</pattern>
        </encoder>
    </appender>
    
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/system.log</file>
		<encoder>
			<pattern>%date{ISO8601} | %-5level | %msg%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/system-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="PIMPSTORE-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/nosqlmark.log</file>
		<encoder>
			<pattern>%date{ISO8601} | %-5level | %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/pimpstore-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="MEASURE-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/pimpstore-measurements.log</file>
		<encoder>
			<pattern>%date{ISO8601} | %-5level | %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/nosqlmark-metrics-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="measure" level="info" additivity="false">
		<appender-ref ref="METRICS-FILE" />
	</logger>

	<logger name="pimpstore" level="debug" additivity="false">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="PIMPSTORE-FILE" />
	</logger>

	<root level="debug">
		<appender-ref ref="FILE" />
	</root>
</configuration>