<configuration scan="true" scanPeriod="5 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{ISO8601} | %-5level | %X{akkaSource} %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/akka.log</file>
		<encoder>
			<pattern>%date{ISO8601} | %-5level | %X{akkaSource} %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>logs/akka.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="SICKSTORE-FILE"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/sickstore.log</file>
		<encoder>
			<pattern>%date{ISO8601} | %-5level | %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>logs/sickstore.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="STALENESS-FILE"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/staleness.log</file>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>logs/staleness.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>20</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="METRICS-FILE"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/metrics.log</file>
		<encoder>
			<pattern>%date{ISO8601} |%-5level | %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>logs/sickstore.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="metrics" level="info" additivity="false">
		<!-- Change To sickstoremetrics -->
		<appender-ref ref="METRICS-FILE" />
	</logger>

	<logger name="sickstore" level="debug" additivity="false">
		<appender-ref ref="SICKSTORE-FILE" />
	</logger>

	<logger name="staleness" level="debug" additivity="false">
		<appender-ref ref="STALENESS-FILE"/>
	</logger>

	<root level="debug">
		<appender-ref ref="FILE" />
	</root>
</configuration>